Service/src/conf/xml-resources/web-service-references/Server/wsdl/localhost_8080/Server/Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server/" name="Server">
<types>
<xsd:schema>
<xsd:import namespace="http://Server/" schemaLocation="http://localhost:8080/Server/Server?xsd=1" />
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register" />
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse" />
</message>
<message name="connect">
<part name="parameters" element="tns:connect" />
</message>
<message name="connectResponse">
<part name="parameters" element="tns:connectResponse" />
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect" />
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse" />
</message>
<message name="retrieveReplies">
<part name="parameters" element="tns:retrieveReplies" />
</message>
<message name="retrieveRepliesResponse">
<part name="parameters" element="tns:retrieveRepliesResponse" />
</message>
<message name="retrieveTopics">
<part name="parameters" element="tns:retrieveTopics" />
</message>
<message name="retrieveTopicsResponse">
<part name="parameters" element="tns:retrieveTopicsResponse" />
</message>
<message name="retrieveComments">
<part name="parameters" element="tns:retrieveComments" />
</message>
<message name="retrieveCommentsResponse">
<part name="parameters" element="tns:retrieveCommentsResponse" />
</message>
<message name="postReply">
<part name="parameters" element="tns:postReply" />
</message>
<message name="postReplyResponse">
<part name="parameters" element="tns:postReplyResponse" />
</message>
<message name="getPWord">
<part name="parameters" element="tns:getPWord" />
</message>
<message name="getPWordResponse">
<part name="parameters" element="tns:getPWordResponse" />
</message>
<message name="checkDetails">
<part name="parameters" element="tns:checkDetails" />
</message>
<message name="checkDetailsResponse">
<part name="parameters" element="tns:checkDetailsResponse" />
</message>
<message name="postTopic">
<part name="parameters" element="tns:postTopic" />
</message>
<message name="postTopicResponse">
<part name="parameters" element="tns:postTopicResponse" />
</message>
<message name="postComment">
<part name="parameters" element="tns:postComment" />
</message>
<message name="postCommentResponse">
<part name="parameters" element="tns:postCommentResponse" />
</message>
<message name="updateInfo">
<part name="parameters" element="tns:updateInfo" />
</message>
<message name="updateInfoResponse">
<part name="parameters" element="tns:updateInfoResponse" />
</message>
<portType name="Server">
<operation name="register">
<input wsam:Action="http://Server/Server/registerRequest" message="tns:register" />
<output wsam:Action="http://Server/Server/registerResponse" message="tns:registerResponse" />
</operation>
<operation name="connect">
<input wsam:Action="http://Server/Server/connectRequest" message="tns:connect" />
<output wsam:Action="http://Server/Server/connectResponse" message="tns:connectResponse" />
</operation>
<operation name="disconnect">
<input wsam:Action="http://Server/Server/disconnectRequest" message="tns:disconnect" />
<output wsam:Action="http://Server/Server/disconnectResponse" message="tns:disconnectResponse" />
</operation>
<operation name="retrieveReplies">
<input wsam:Action="http://Server/Server/retrieveRepliesRequest" message="tns:retrieveReplies" />
<output wsam:Action="http://Server/Server/retrieveRepliesResponse" message="tns:retrieveRepliesResponse" />
</operation>
<operation name="retrieveTopics">
<input wsam:Action="http://Server/Server/retrieveTopicsRequest" message="tns:retrieveTopics" />
<output wsam:Action="http://Server/Server/retrieveTopicsResponse" message="tns:retrieveTopicsResponse" />
</operation>
<operation name="retrieveComments">
<input wsam:Action="http://Server/Server/retrieveCommentsRequest" message="tns:retrieveComments" />
<output wsam:Action="http://Server/Server/retrieveCommentsResponse" message="tns:retrieveCommentsResponse" />
</operation>
<operation name="postReply">
<input wsam:Action="http://Server/Server/postReplyRequest" message="tns:postReply" />
<output wsam:Action="http://Server/Server/postReplyResponse" message="tns:postReplyResponse" />
</operation>
<operation name="getPWord">
<input wsam:Action="http://Server/Server/getPWordRequest" message="tns:getPWord" />
<output wsam:Action="http://Server/Server/getPWordResponse" message="tns:getPWordResponse" />
</operation>
<operation name="checkDetails">
<input wsam:Action="http://Server/Server/checkDetailsRequest" message="tns:checkDetails" />
<output wsam:Action="http://Server/Server/checkDetailsResponse" message="tns:checkDetailsResponse" />
</operation>
<operation name="postTopic">
<input wsam:Action="http://Server/Server/postTopicRequest" message="tns:postTopic" />
<output wsam:Action="http://Server/Server/postTopicResponse" message="tns:postTopicResponse" />
</operation>
<operation name="postComment">
<input wsam:Action="http://Server/Server/postCommentRequest" message="tns:postComment" />
<output wsam:Action="http://Server/Server/postCommentResponse" message="tns:postCommentResponse" />
</operation>
<operation name="updateInfo">
<input wsam:Action="http://Server/Server/updateInfoRequest" message="tns:updateInfo" />
<output wsam:Action="http://Server/Server/updateInfoResponse" message="tns:updateInfoResponse" />
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="register">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="connect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="disconnect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveReplies">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveTopics">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="retrieveComments">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="postReply">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPWord">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="postTopic">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="postComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Server">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8080/Server/Server" />
</port>
</service>
</definitions>